@charset "utf-8";

/* Ajuste para Menu do PrimeFaces */
.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}
/* Ajuste para Menu do PrimeFaces */
.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

/* Tamanho Global das fontes do PrimeFaces */
.ui-widget, .ui-widget .ui-widget { //
	font-size: 12px !important;
	font-size: 15px !important;
}

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-height: 100%;
	height: 100%;
}

.centralizar {
	display: block;
	text-align: center;
}

h3 {
	margin-top: 2px;
	margin-bottom: 6px;
}

.outer_table {
	width: 100%;
	height: 100%;
}

.ui-autocomplete-list {
	max-height: 300px;
	overflow-y: auto; /* prevent horizontal scrollbar */
	overflow-x: hidden; /* add padding to account for vertical scrollbar */
	z-index: 1000 !important;
}